/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('../../assets/images/bg.jpg');
  background-size: cover;
  background-position: center center;
}

.bg-transparent2 {
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-primary {
    background-color: #00838f;
    border-color: #00838f;
}
.btn-primary:hover {
    color: #fff;
    background-color: #00838f;
    border-color: #00838f;
}
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(127, 99, 244, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #00838f;
    border-color: #00838f;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00838f;
    border-color: #00838f;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(127, 99, 244, 0.5);
}